<div class="container">
  <div class="row">
    <div class="col-4 mt-3">

      <h2>新規会員登録</h2>

      <%= form_with model: @customer, url: "/customers", local: true do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label "名前(姓)" %><br />
          <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
          <%= f.label "名前(名)" %><br />
          <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label "フリガナ(セイ)" %><br />
          <%= f.text_field :last_name_kana, autofocus: true, class: "form-control" %>
          <%= f.label "フリガナ(メイ)" %><br />
          <%= f.text_field :first_name_kana, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label "メールアドレス" %><br />
          <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label "郵便番号（ハイフンなし）" %><br />
          <%= f.text_field :postal_code, class: "form-control col-5" %>
        </div>

        <div class="form-group">
          <%= f.label "住所" %><br />
          <%= f.text_field :address, class: "form-control col-5" %>
        </div>

        <div class="form-group">
          <%= f.label "電話番号（ハイフンなし）" %><br />
          <%= f.text_field :phone_number, class: "form-control col-5" %>
        </div>

        <div class="form-group">
          <%= f.label "パスワード（6文字以上）" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control col-5" %>
        </div>

        <div class="form-group">
          <%= f.label "パスワード（確認用）" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control col-5" %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録", class: "btn btn-success mt-3" %>
        </div>
      <% end %>

      <h2>既にログイン済みの方</h2>
      <p><%= link_to "こちら", new_customer_session_path %>からログインしてください。</p>

    </div>
  </div>
</div>
