<div class="container">
  <div class="row">
    <div class="col-12 mt-3">


      <h1>Public::Orders#new</h1>
      <p>Find me in app/views/public/orders/new.html.erb</p>

      <h4>注文情報入力</h4>

      <%= form_with model: @order, url: check_path, local: true do |f| %>

        <p>支払い方法</p>
        <div class="field-group">
          <%= f.label "クレジットカード" %>
          <%= f.radio_button :payment_method, :credit_card %>
        </div>
        <div class="field-group">
          <%= f.label "銀行振込" %>
          <%= f.radio_button :payment_method, :transfer %>
        </div>

        <p class="mt-4">お届け先</p>
        <div class="field-group">
          <%= f.label "ご自身の住所" %>
          <%= f.radio_button :option, 1 %>
        </div>
        <div class="field-group">
          <%= f.label "登録済み住所から選択" %>
          <%= f.radio_button :option, 2 %>
        </div>
        <div class="field-group">
          <%= f.label "新しいお届け先" %>
          <%= f.radio_button :option, 3 %>
        </div>


        <%= f.submit '確認画面へ進む',class: "btn btn-primary rounded-pill mt-3" %>

      <% end %>

    </div>
  </div>
</div>